__pycache__/
*.pyc
*.pyo
*.part
downloader_settings.json
tasks.json
tasks.json.tmp
download.log
error_log.txt
servers.json
cookie_cache.json
.nuitka_cache/
dist/
build_c/
build_nuitka/
*.pyd
*.pyi
*.dll
*.exe
*.zip
